<h3>Project: <%= @job.title %></h3>
    
<%= render 'shared/jobpost_details' %>

<% if signed_in? %>
  <div class="place_bid">
          <h3 class="micropost">Apply For This Project</h3>
          <%#= render 'shared/bidpost_form' %>
          <%= render 'shared/apply_for_job_form' %>
  </div>

    <% if @job.user_id == current_user.id %>

      <center><h3><a href="<%= winners_jobpost_path(params[:id]) %>">
          Finished Building My Team </a></h3>
      </center>

<h3>Current Bids</h3>    

      <%= sort_link @sortbidders, :name %> |
      <%= sort_link @sortbidders, :bids_amount %> |
      <%= sort_link @sortbidders, :location %> |
      <%= sort_link @sortbidders, :rating %> |
      <%= sort_link @sortbidders, :jobs_completed %></br>

    <% if @bidders.any? %>
      <div class="bidfeed">
      <%= render :partial => 'shared/bidder', :collection => @bidders %><br/>
      <%#= render :partial => 'shared/bidfeed_item', :collection => @bidfeed_items %>
      </div>
    <% else %>
          <div class="bidfeed">
          <span class="no_results">
            <p>We're sorry but there are no results.</p>
          </span>
        </div>
    <% end %>

      <div class="user_searchbox round">
        <%= render 'shared/bidsearch' %>
      </div>
      <%= will_paginate @bidders %>


                  <% if current_user?(@job.user) %>
         <br/>
                      <%= link_to "Delete Post", @job, :method => :delete,
                                                       :confirm => "You sure?",
                                                       :title => @job.title %>
                  <% end %>
    <% end %>

<% else %>

    <center><h3>
        Please <%= link_to "sign-up", signup_path %> or
               <%= link_to "sign-in", signin_path %> to bid on this project.
    </h3></center> <br/>
<% end %>