<div class="field">
  <span class="account">
    <b>Account Type:</b> Freelance Attorney <br />
  </span>

<span class="username">
	<b>Username:</b> <%= @user.name %>  <br />
</span>

<span class="name">
	<b>Agency Name:</b> <%= @user.real_name %>  <br />
</span>

<span class="location">
	<b>Location:</b> <%= @user.location %>  <br />
</span>

<span class="tagline">
	<b>Tagline:</b> <%= @user.tagline %>  <br />
</span>

<span class="resume">
	<b>Bio:</b> <%= @user.resume %>  <br />
</span>
