<div class="field">
        <b>Account Type:</b> Client <br />
</div>

<div class="field">
	<b>Username:</b> <%= @user.name %>  <br />
</div>

<div class="field">
	<b>Email:</b> <%= @user.email %>  <br />
</div>

<div class="field">
	<b>Company Name:</b> <%= @user.real_name %>  <br />
</div>

<div class="field">
	<b>Location:</b> <%= @user.location %>  <br />
</div>

<div class="field">
	<b>Tagline:</b> <%= @user.tagline %>  <br />
</div>

<div class="field">
	<b>Bio:</b> <%= @user.resume %>  <br />
</div>
