<div class="header field">
	<h1>Sign up for a username</h1>
</div>

<div class="field">
	<%= f.label :name, "Name" %>
	<%= f.text_field :name %>
</div>

<div class="field">
	<%= f.label :email %>
	<%= f.text_field :email %>
</div>

<div class="field">
	<%= f.label :password %>
	<%= f.password_field :password %>  
	<!-- cannot use f.text_field because it shows password when typing -->
</div>	

<div class="field">
	<%= f.label :password_confirmation, "Confirm Password" %> 
	<%= f.password_field :password_confirmation %>
</div>

<div class="field">
	<%= f.label :gender %>
        <%= f.radio_button :gender, '1' %>Female
        <%= f.radio_button :gender, '2' %>Male
</div>

