<%= render 'shared/error_messages', :object => f.object %>

<div class="field">
	<%= f.label :act, "What did you do?" %>  <br />
	<%= f.text_field :act %>
</div>

<div class="field">
	<%= f.label :date, "Date Performed" %>  <br />
	<%= f.text_field :date %>
</div>
