<%= render 'shared/error_messages', :object => f.object %>

<div class="field">
	<%= f.label :name, "Name" %>  <br />
	<%= f.text_field :name %>
</div>

<div class="field">
	<%= f.label :email %>  <br />
	<%= f.text_field :email %>
</div>

<div class="field">
	<%= f.label :gender %>  <br />
        <%= f.radio_button :gender, '1' %>Female <br/>
        <%= f.radio_button :gender, '2' %>Male <br/>
</div>

