<table class "profile" summary="Profile Information">
	<tr>
		<td class="main">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
			<%= render 'follow_form' if signed_in? %>
                        <table class="userprofile" summary="user profile">
                          
                  <%= render 'user_profile', :f => @user %>
</table>
<p><a href="/partners/new">Enter Your Partner's Info</a>.</p>

<p>Who is your partner?</p>
<p>Partner's Name is:  <%= @partner.name %></p>
</br>
<%= form_for(@lovepost) do |f| %>

	<%= render 'lovepost', :f => f %>

	<div class="actions">
		<%= f.submit "Submit" %>
	</div>

<% end %>

        <% if @user.loveactions.any? %>
                <table class="microposts" summary="User Loveactions">
                        <%= render @loveactions %>
                        <!-- remember that render requires a _partial.html.erb -->
                </table>
                <%= will_paginate @loveactions %>
        <% end %>
			
		</td>	
	</tr>
</table>


