<div class="bidtable">

  <span class="name"><br><b>Username</b> <br />
        <%= link_to bidder.name, bidder %><br />
      </span>  

      <span class="amount"><br><b>Amount</b></br>
        $<%= Bid.where({:jobpost_id => params[:id], :user_id => bidder.id}).
          first.amount %>
      </span>
  
      <span class="location"><br><b>Location</b></br>
        <%= bidder.location %>
      </span>
   
      <span class="rating"><br><b>Rating</b></br>
        <%= bidder.rating ?
            bidder.rating : "--" %>
      </span>
 
      <span class="jobs_completed"><br><b>No. Jobs</b></br>
        <%= bidder.jobs_completed ?
            bidder.jobs_completed : "--" %>
      </span> 

      <span class="tagline">
          <% if @job.winner?(bidder.id) %>
            <%= render 'fire', :bidder => bidder %>
        <% else %>
            <%= render 'hire', :bidder => bidder %>
        <% end %>
    </span>

    <span class="tagline"><b>Tagline:</b> 
        <%= bidder.tagline %>
    </span>

  </div>