    <% form_for :search, @user_search, :html => {:method => :get} do |f| %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>

<p>        <strong>Bid Amount</strong><br/>
        <%= f.label :bids_amount_gte, "Min" %>
        <%= f.text_field :bids_amount_gte, :size => 3 %>
        <%= f.label :bids_amount_lte, "Max" %>
        <%= f.text_field :bids_amount_lte, :size => 3 %></p>

<p>        <%= f.label :location_contains, "Location" %><br />
        <%= f.text_field :location_contains %>
</p>
<p>        <strong>Rating</strong><br/>
        <%= f.label :rating_gte, "Min" %>
        <%= f.text_field :rating_gte, :size => 3 %>
        <%= f.label :rating_lte, "Max" %>
        <%= f.text_field :rating_lte, :size => 3 %><br />
</p>
<p>        <strong>No. Jobs Completed</strong><br/>
        <%= f.label :jobs_completed_gte, "From" %>
        <%= f.text_field :jobs_completed_gte, :size => 3 %>
        <%= f.label :jobs_completed_lte, "to" %>
        <%= f.text_field :jobs_completed_lte, :size => 3 %><br />
</p>
<p>        <%= f.label :skills_contains, "Skills" %><br />
        <%= f.text_field :skills_contains %><br />
</p>

<p>     <%= f.label :resume_contains, "Resume" %><br />
        <%= f.text_field :resume_contains %><br />
</p>

<p>
        <%= f.label :name_or_location_or_skills_or_tagline_or_resume_contains, "Any Keyword" %><br />
        <%= f.text_field :name_or_location_or_skills_or_tagline_or_resume_contains %><br />
</p>

      <p class="button"><%= f.submit "Search" %></p>
      
<% end %>
