 <!--header starts-->
<header>
	<div class="container">
		<div id="logo" class="span-4" style="margin-left:20px;">
			<h1>
				<a title="Show Me The Love" href="/">Show Me The&nbsp; Love</a>
			</h1>
		</div>

		<nav class="" style="float:right;">
			<ul class="navigation">
				<% if signed_in? %>
<li class="active">
<a href="<%= Facebook.getOAuthURL(url_for(:controller => 'facebook', :action => 'confirm', :only_path => false)) %>">CONNECT WITH FACEBOOK</a>
</li>
				          <li class="active">
				            <%= link_to "PROFILE", user_path(current_user) %>
				          </li>
				          <li class="last">
				            <%= link_to "LOG OUT", signout_path %>
				          </li>
				<% else %>
					<li>
<a href="<%= Facebook.getOAuthURL(url_for(:controller => 'facebook', :action => 'confirm', :only_path => false)) %>">CONNECT WITH FACEBOOK</img></a>
                                        </li>
				          <li class="active">
				            <%= link_to "REGISTER", signup_path %>
				          </li>
				          <li class="last">
				            <%= link_to "LOG IN", signin_path %>
				          </li>
				<% end %>
			</ul>
		</nav>
					<!-- end top nav -->
	</div>	<!-- end container -->

  </header>
  <!--header ends-->
 