<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  	<title> <%= title %> </title>
	<%= csrf_meta_tag %>
        <%#*<style type="text/css" media="all">%>
          <%#*@import url("public/stylesheets/style.css");%>
        <%#*</style>%>
<!--[if IE 6]>
<script  type="text/javascript" src="public/javascripts/png.js"></script>
<link href="public/stylesheets/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->

	<%= render 'layouts/stylesheets' %>
	<%= javascript_include_tag :defaults %>
        <%= init_tinymce_hammer_if_required %>
  </head>
  
    <% if (params[:controller] == 'pages' && params[:action] == 'home') %>
  <body id="home">
    <% else %>
  <body>
    <% end %>

       <div id="wrapper">
                <%= render 'layouts/header' %>
         
                <%= render 'shared/flash_errors' %>
        
          <div id="yield">
            <section class="round">
			<%= yield %>
              </section>
          </div>

      <!--wrapper ends-->
      </div>
		<%= render 'layouts/footer' %>
  </body>
</html>