<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  	<title> <%= title %> </title>
	<%= csrf_meta_tag %>
        

	<%= render 'layouts/stylesheets' %>
	<%= javascript_include_tag :defaults %>
        <!-- or -->
        <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "jquery.rails.js" %>

	<%= javascript_include_tag 'prototype' %>
        <%= init_tinymce_hammer_if_required %>

		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>	
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
		
		<link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:bold' rel='stylesheet' type='text/css'>
	
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
      <script type="text/javascript" charset="utf-8">
        $(function() {
          $("#subscribe").click(function() {
            $('form').submit();
            return false;
          })
        })
    </script>

	<link rel="stylesheet" href="http://launchrock.com/api/lr.api.0.2.css">
	<script src="http://launchrock.com/api/lr.api.0.5-min.js"></script>

  </head>
  
    <% if (params[:controller] == 'pages' && params[:action] == 'home') || !signed_in? || (params[:controller] == 'partners' && params[:action] == 'new')   %>
  <body id="main">
		<%= render 'layouts/header' %>

  
	<div id="dashboard-wrapper">
		<div class="container">
			<%= yield %>
		</div> <!-- end container -->
	</div> <!-- end dashboard_wrapper -->
	

<!--wrapper ends-->
<%= render 'layouts/footer' %>

<script>
$(document).ready(function(){
    LR.lrInstance = new LrInstance('container',{

        tagLine: "We're launching soon.  Enter your email below to receive an invitation to our private Beta test.",
        description: "Your partner rates what you do for them, giving you insight into what's really meaningful to them.",
        refCodeUrl: "http://showmethelove.co/?ref=",
        lrDomain: "showmethelove.co",
        apiKey: "3fd9d4dea45b044ddb7444e13ccfb991",
        inviteList: " "
    });        

    // Handles events related to signup form, form validations
    // and submitting the form to the server:
    LR.signupForm = new SignupForm({
        secondaryPostLocation: ""
    });


    // Handles rendering the post submit content:
    LR.postSubmit = new PostSignupForm('pagesubmit',{
        twitterHandle: "LegaLancers",
        twitterMessage: "Premium Legal Exchange is launching soon and I'm one of the first in line! Join me. #launch",
        newUserHeaderText: "Thanks! Want to get an early invitation?",
        newUserParagraphText: "Invite at least 3 colleagues using the link below. The more colleagues you invite, the sooner you'll get access!<br/><br/>To share with your friends, click 'Recommend', 'Tweet' and 'Invite by Email':",
        newUserParagraphText3: "Or copy and paste the following link to share wherever you want!",
        returningUserHeaderText: "Welcome Back!",
        returningUserParagraphText: "Invite at least 3 colleagues using the link below. The more colleagues you invite, the sooner you'll get access!<br/><br/>To share with your friends, click 'Recommend', 'Tweet' and 'Invite by Email':",
        returningUserParagraphText3: "Or copy and paste the following link to share wherever you want!",
        statsPreText: "Your live stats: ",
        footerLinks: "<a href='http://twitter.com/LegaLancers'>Follow Us on Twitter</a> | <a href='http://www.facebook.com/pages/Premium-Legal-Exchange/172354802815699'>Like Us on Facebook</a>"
,showDescription: true,
showTagLine: true,
showHeaderText: true,
showParagraphText: true,
showStats: true,
showShareButtons: true,
showFooterLinks: true    });


});

    </script>

    <% else %>
  <body id="dashboard">
		<%= render 'layouts/header' %>

  
	<div id="dashboard-wrapper">
		<div class="container">
			<%= yield %>
			
		</div> <!-- end container -->
	</div> <!-- end dashboard-wrapper -->
	
	<!-- start footer -->
		<section id="bottom-footer">
				<div class="container">
					<div class="prepend-1 span-24">
						<div class="thumbnail span-2">
							<%= gravatar_for @user %>
						</div>
						<div class="span-4"><p class="">Hello <%= @user.name %></p></div>

						<div id="badges" class="span-10">
							<div class="prepend-1 span-10"><p class="">Share your Badges</p></div>
							<ul class="span-10">
								<li class="tl tr bl br">
									<img class="center tl tr bl br" src="../images/93.png" />
								</li>

								<li class="tl tr bl br">
									<img class="center tl tr bl br" src="../images/207.png" />
								</li>

								<li class="tl tr bl br">
									<img class="center tl tr bl br" src="../images/206.png" />
								</li>						
							</ul>

						</div>

                                                <div class="span-6 last" style="float:right;"><a id="subscribe" href="<%= new_partner_path %>" class="button tl tr bl br"><span class="plus">+</span> Add a relationship</a></div>
                                        </div>

				</div>
		</div>
		<!-- end footer -->
	
    <% end %>
	<script type="text/javascript" charset="utf-8">
	  var is_ssl = ("https:" == document.location.protocol);
	  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
	  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
	</script>

	<script type="text/javascript" charset="utf-8">
	  var feedback_widget_options = {};

	  feedback_widget_options.display = "overlay";  
	  feedback_widget_options.company = "show_me_the_love";
	  feedback_widget_options.placement = "right";
	  feedback_widget_options.color = "#222";
	  feedback_widget_options.style = "idea";








	  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
	</script>
      <!--wrapper ends-->
  </body>
</html>