<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  	<title> <%= title %> </title>
	<%= csrf_meta_tag %>
        

	<%= render 'layouts/stylesheets' %>
	<%= javascript_include_tag :defaults %>
	<%#= javascript_include_tag 'prototype' %>
        <%= init_tinymce_hammer_if_required %>

		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>	
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
		
		<link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:bold' rel='stylesheet' type='text/css'>
		
  </head>
  
    <% if (params[:controller] == 'pages' && params[:action] == 'home') || !signed_in? || (params[:controller] == 'partners' && params[:action] == 'new')   %>
  <body id="main">
		<%= render 'layouts/header' %>

  
	<div id="dashboard-wrapper">
		<div class="container">
			<%= yield %>
			
		</div> <!-- end container -->
	</div> <!-- end dashboard_wrapper -->
	

<!--wrapper ends-->
<%= render 'layouts/footer' %>

    <% else %>
  <body id="dashboard">
		<%= render 'layouts/header' %>

  
	<div id="dashboard-wrapper">
		<div class="container">
			<%= yield %>
			
		</div> <!-- end container -->
	</div> <!-- end dashboard-wrapper -->
	
	<!-- start footer -->
		<section id="bottom-footer">
				<div class="container">
					<div class="prepend-1 span-24">
						<div class="thumbnail span-2">
							<%= gravatar_for @user %>
						</div>
						<div class="span-4"><p class="">Hello <%= @user.name %></p></div>

						<div id="badges" class="span-10">
							<div class="prepend-1 span-10"><p class="">Share your Badges</p></div>
							<ul class="span-10">
								<li class="tl tr bl br">
									<img class="center tl tr bl br" src="../images/93.png" />
								</li>

								<li class="tl tr bl br">
									<img class="center tl tr bl br" src="../images/207.png" />
								</li>

								<li class="tl tr bl br">
									<img class="center tl tr bl br" src="../images/206.png" />
								</li>						
							</ul>

						</div>

<% if 1 == 0 %>
						<div id="relationship-add" class="span-6 last"><a id="subscribe" href="../partners/new" class="button tl tr bl br"><span class="plus">+</span> Add a relationship</a></div>
<% end %>
                                                <div class="span-6 last" style="float:right;"><a id="subscribe" href="<%= new_partner_path %>" class="button tl tr bl br"><span class="plus">+</span> Add a relationship</a></div>
                                        </div>

				</div>
		</div>
		<!-- end footer -->
	
    <% end %>

      <!--wrapper ends-->
  </body>
</html>